.contenedor-tabla {

    width: 90vh;
    max-height: 60vh;
    overflow-y: scroll;

}

.contenedor-productos {
    overflow-y: scroll;
    max-height: 300px;
}

input[type="text"]:focus {
    outline: none;
}
input[type="date"]:focus {
    outline: none;
}