.layout-registro {
    height: 90vh;
}

.contenedor-tabla {

    width: 134vh;
    overflow-y: scroll;
    height: 64vh;

}

.contenedor-productos {
    overflow-y: scroll;
    max-height: 300px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="date"]:focus {
    outline: none;
}

select:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.config:hover {

    animation: rotacion 1s;
}

.tabla-informacion {
    overflow-y: scroll;
    height: 29vh;
}

@keyframes rotacion {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}