.scroll-box {
    height: 100%;
    overflow-y: scroll;
}

.scroll-box-table {
    overflow-y: scroll;
}

.box-productos {
    height: 60vh;
}

.box-lista-producto {
    height: 380px;
}

.container-derecha {
    width: 700px;
}

.container-formulario-venta {
    width: 550px;
}

.contenedor-tablas {

    width: 110vh;
    overflow-y: scroll;
    max-height: 62vh;

}

input[type="number"] {
    border: none;

}
input[type="number"]:focus {
    outline: none;
}