.scroll-box {
    height: 100%;
    overflow-y: scroll;
}

.scroll-box-table {
    overflow-y: scroll;
}

.box-productos {
    height: 60vh;
}

.box-lista-producto {
    height: 380px;
}

.container-derecha{
    width: 700px;
}

.container-formulario-venta {
    width: 550px;
}
