/* .panelControl{
    height: 50px;
} */

.card-panel-control {
    height: 7rem;
}

.scroll-content {
    height: 12rem;
    overflow: scroll;
}

.container-card {
    width: 20vh;
    height: 20vh;

}